/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Azula';
    src: url('../src/assets/fonts/azula/Azula.woff2') format('woff2'),
         url('../src/assets/fonts/azula/Azula.woff') format('woff'),
         url('../src/assets/fonts/azula/Azula.ttf') format('truetype');
    font-weight:bolder;
    font-style: normal;
    font-size: 26px;
  }
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eff1fd; /* רקע של ה-toolbar */
  }
  
body { margin: 0; font-family: "Azula", sans-serif;  }
